/* Import theme */
@import url("theme/ice-blue/light.css");
@import url("theme/ice-blue/dark.css");

html{
    font-family: "Roboto", sans-serif, Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 12pt;
    color: var(--md-sys-color-on-background);
    background-color: var(--md-sys-color-background);
}

body {
    padding: 0px;
    margin: 0px;
}

/* Style each section in the body */
.body-section{
    padding: 5vw;
}

.section-title {
    color: var(--md-sys-color-primary);
}

/* Nav-bar styling */
.nav-bar{
    height: 5vw;
    position: sticky; /* Set the navbar to fixed position */    
    top: 0; /* Position the navbar at the top of the page */
    padding-left: 2vw;
    padding-right: 2vw;
    justify-content: space-between;
    display: flex;
    flex-flow: row;
    gap: 1em;
    align-items: center;
    background: var(--md-sys-color-primary);
}

.nav-bar > div:nth-child(2){
    flex-grow: 2;
}

.nav-main {
    display: flex;
    align-items: center;
}

.nav-left, .nav-main, .nav-right {
    height: inherit;
    justify-content: center;
    align-content: center;
}

.nav-link {
    font-style: normal;
}

/* Title on the left side of the nav bar */
.nav-title {
    font-size: 1.4rem;
}

.nav-button{
    border: none;
    cursor: pointer;
    background: none;
    border-radius: 100%;
}

.nav-link, .nav-button, .nav-title {
    color: var(--md-sys-color-on-primary);
    text-decoration: none;
}

.nav-main .nav-link{
    display: inline-block;
    text-align: center;
    border-radius: 5px;
    padding: 8px;
}

.nav-button:hover{
    color: var(--md-sys-color-on-primary-container);
    background-color: var(--md-sys-color-primary-container);
}

.nav-link:hover{
    color: var(--md-sys-color-on-primary-container);
    background-color: var(--md-sys-color-primary-container);
}

/* Sizing for material icons */
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

/* About me section */
.aboutme {
    display: grid;
    grid-template-columns: 6fr 4fr;
    column-gap: 5px 50px;
}

.aboutme > div:nth-child(1) {
    flex-grow: 2;
}

.aboutme-main {
    padding: 6px;
    padding-right: 12px;
}

.aboutme-right {
    display: flex;
    justify-content: center;
}

.aboutme-title {
    /* color: var(--md-sys-color-primary); */
}

.aboutme-description {
    /* color: var(--md-sys-color-on-primary); */
}